.inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  z-index: 1;
}
.hm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 70px;
  font-weight: bolder;
  height: 1000px;
}
.left p {
  color: #333;
  animation: p 5s infinite;
}
@keyframes p {
  25% {
    color: #f35626;
  }
  50% {
    color: #feab3a;
  }
  75% {
    color:green;
  }
  100% {
    color: #333;
  }
}
.right {
  width: 500px;
}
img {
  width: 100%;
}
