.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 3px 3px #ccc;
  color: black;
  height: 55px;
  opacity: 0.8;
  width: 100%;
  font-weight: bold;
  position: fixed;
  z-index: 2;
}
.menu {
  display: flex;
  font-size: 13px;
}
.menu li {
  padding: 0 150px;
}
.menu li:hover {
  transform: translatex(10%);
  transition: all 1s;
}
