.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 3px 3px #ccc;
  color: black;
  height: 55px;
  opacity: 0.8;
  width: 100%;
  font-weight: bold;
}
.menu {
  display: flex;
  font-size: 13px;
}
.menu li {
  padding: 0 150px;
}
.menu li::after {
  content: "";
  display: block;
  width: 45px;
  height: 4px;
  background-color: gray; 
  opacity: 0.3;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translatex(-50%);
  transition: all 3s;
}
.menu li:hover {
  transform: translatex(10%);
  transition: all 1s;
}
